#banner {
    height: 150px;
    width: 100%;
    background: rgb(69, 208, 250) url("../img/pattern.png");
}

#logo {
    height: 60px;
    width: 250px;
    padding-top: 80px;
}

h1 {
    font-weight:1000 ;
    font-size: 50px;
}

#author-info {
    color: gray;
    font-size: 20px;
}

#author-name {
    color: rgb(0, 201, 241);
}

#photo-descr {
    font-size: 10px;
}

.yellow-highlight {
    background-color: yellow;
}

table {
    width: 60%;
    text-align: left;
}
thead {
    background-color: rgb(3, 206, 252);
    color: white;
}

.light-blue-tr {
    background-color: rgb(162, 236, 255);
}

h2 {
    color: gray;
}

#related-article-monitor {
    width: 312px;
    height: 208px;
    background-image: url("../img/monitor.jpg");
    color: white;
    font-size: 20px;
    text-align: center;
}

#related-article-graph {
    width: 312px;
    height: 208px;
    background-image: url("../img/graph.jpg");
    color: white;
    font-size: 20px;
    text-align: center;
}